<div class="container pt-5 pb-5">
  <div class="col-sm-6 offset-sm-3 col-lg-4 offset-lg-4 card pt-4 pb-4">
    <h2 style="color:#4267B2">Sign up</h2>
    <hr />
    <div class="form-group">
      <label for="Input name">Name</label>
      <input
        type="text"
        class="form-control"
        aria-describedby="nameHelp"
        placeholder="Enter your name"
        [(ngModel)]="name"
      />
    </div>
    <div class="form-group">
      <label for="input location">Location</label>
      <input
        type="text"
        class="form-control"
        aria-describedby="nameHelp"
        placeholder="Enter your location"
        [(ngModel)]="location"
      />
    </div>
    <div class="form-group">
      <label for="input location">Sex</label>
      <select name="sex" [(ngModel)]="sex" class="form-control">
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input
        type="email"
        class="form-control"
        aria-describedby="emailHelp"
        placeholder="Enter email"
        [(ngModel)]="email"
      />
      <small id="emailHelp" class="form-text text-muted"
        >We'll never share your email with anyone else.</small
      >
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input
        type="password"
        class="form-control"
        placeholder="Password"
        [(ngModel)]="password"
      />
    </div>
    <div class="form-group form-check">
      <input
        type="checkbox"
        class="form-check-input"
        [(ngModel)]="acceptTerms"
      />
      <label class="form-check-label" for="exampleCheck1"
        >Accept terms and conditions</label
      >
    </div>
    <div class="row">
      <div class="col-6">
        <button type="button" class="btn btn-light btn-lg" (click)="login()">
          Login
        </button>
      </div>
      <div class="col-6 text-right">
        <button
          type="button"
          class="btn btn-lg"
          style="background:#4267B2; color:white;"
          (click)="signUp()"
        >
          Sign Up
        </button>
      </div>
    </div>
  </div>
</div>
