<nav
  class="navbar navbar-expand-lg navbar-dark sticky-top"
  style="background: #4267B2 !important;"
>
  <a class="navbar-brand" routerLink="">
    Faceboot
  </a>

  <button
    *ngIf="isLogin"
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbar"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbar" *ngIf="isLogin">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active" routerLink="/store">
        <a class="nav-link">Store</a>
      </li>
      <li class="nav-item" routerLinkActive="active" routerLink="/my-products">
        <a class="nav-link">My products</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-light my-2 my-sm-0" (click)="logOut()">
        Log out
      </button>
    </form>
  </div>
</nav>
